@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/uvr4elu.css");

$primary: #bddeff;
$secondary: #95a2ae;
$success: #dcaff3;
$info: #ffafd0;
$warning: #ffd1e5;
$danger: #f26863;
$light: #fff;
$dark: #222629;

$bg: #f1f1f1;
